/*养护知识*/
.nology{
    width:1024px;
    height:auto;
    margin-top:20px;
    margin-bottom:40px;
}
.bottom{
    height:225px;
    width:974px;
    padding:0 5px;
}
.bottom>li{
    width:974px;
    height:26px;
    margin-bottom:8px;
}
.bottom li>a{
    display:block;
    height:20px;
    padding:0 5px 8px;
    border-bottom:1px dotted #C1C1C1;
    color:#808080;
    font-size:14px;
    line-height:20px;
}
.bottom li>a .left2{
    float:left;
}
.bottom li>a .right2{
    float:right;
}
.bottom li>a:hover{
    color:#E40000;
}
.bottom .borb>a{
    border-bottom:0px;
}
/*下主图*/
.master1{
    margin-bottom:80px;
}